- content_for :title, @distribution.name
= render "shared/members",
    location_path: users_distribution_path(@distribution),
    members_create_path: distribution_user_distributions_path(@distribution),
    member_update_path: ->(m) { distribution_user_distribution_path(@distribution, m) },
    member_destroy_path: ->(m) { distribution_user_distribution_path(@distribution, m) },
    members: @members,
    search_results: @member_search_results,
    roles: UserDistribution::ROLES
