- content_for :title, @factory.name
%h1.text-3xl.font-bold.text-gray-900.mb-8= @factory.name

= render "bike_requests/list", active_tab: @tab, bike_requests: @bike_requests, pagy: @pagy, factory_view: true
